Source: greylock
Section: net
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends:
 cdbs,
 cmake (>= 2.6),
 debhelper (>= 7.0.50~),
 ribosome-dev (>= 0.2.8),
 libboost-dev,
 libboost-system-dev,
 libboost-program-options-dev,
 libboost-filesystem-dev,
 libmsgpack-dev,
 liblz4-dev,
 libswarm3-dev,
 libthevoid3-dev,
 zlib1g-dev,
 libbz2-dev,
 libsnappy-dev
Standards-Version: 3.8.0
Homepage: http://www.reverbrain.com/
Vcs-Git: git://github.com/reverbrain/greylock.git
Vcs-Browser: https://github.com/reverbrain/greylock

Package: greylock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Greylock is a local searching/indexing engine

Package: greylock-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 ribosome-dev (>= 0.2.8),
 libboost-dev,
 libboost-system-dev,
 libboost-program-options-dev,
 libboost-filesystem-dev,
 libmsgpack-dev,
 liblz4-dev,
 libswarm3-dev,
 libthevoid3-dev,
 zlib1g-dev,
 libbz2-dev,
 libsnappy-dev
Description: Development files for greylock search engine
